@import "/css/fonts.css";
@import "/css/helpers.css";

* {
    box-sizing: border-box;
}

.email-sidebar-list li {
    cursor: pointer;
    width:150px;
    padding: 5px;
}

.email-sidebar-list li:hover {
  background-color: rgb(110, 110, 110);
}
