@import "/css/fonts.css";
@import "/css/helpers.css";
* {
    box-sizing: border-box;
}

.read {
    font-weight: lighter;
    background-color: #32353a79;
    color: grey;

}

.unread {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.email-preview-container {
    padding: 15px;
}

.email-preview {
    display: flex;
    color: none;
}

.content {
    margin-left: 20px;
    font-weight: 100;
    color: grey;
}

.subject {
    margin-left: 23px;
}