@import "/css/fonts.css";
@import "/css/helpers.css";

* {
    box-sizing: border-box;
}

.email-search {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

.email-search input {
   width: 80%;
   font-size: 1.2rem;
   height: 50%;
   border-radius: 10px;
   border: none;
   padding-inline-start: 17px;
}