@import "/css/fonts.css";
@import "/css/helpers.css";
* {
    box-sizing: border-box;
}

.email-preview-container {
    display: flex;
}

.read {
    font-weight: lighter;
    background-color: #32353a79;
    color: grey;
}

.unread {
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.email-preview-container {
    padding: 15px;
}

.email-preview {
    display: flex;
}

.content {
    margin-inline-start: 5px;
    min-width: 200px;
    font-weight: 100;
    color: grey;
    text-overflow: ellipsis;
}

.subject {
    margin-inline-start: 25px;
}

.from {
    margin-inline-start: 25px;
    min-width: 80px;
}