/* @import "/css/fonts.css";
@import "/css/helpers.css"; */

@import "../../fonts.css";
@import "../../helpers.css";
* {
    box-sizing: border-box;
}

.email-search {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email-search input {
    width: 80%;
    font-size: 1.2rem;
    height: 50%;
    border-radius: 10px;
    border: none;
    padding-inline-start: 17px;
}

.fa-search {
    margin-inline-end: 10px;
}