/* @import "/css/fonts.css";
@import "/css/helpers.css"; */

@import "../../fonts.css";
@import "../../helpers.css";
* {
    box-sizing: border-box;
}

.email-app {
    height: 100vh;
width: 90vw;    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 4fr;
}

.email-app i {
    font-size: large;
}