@import "/css/fonts.css";
@import "/css/helpers.css";
* {
    box-sizing: border-box;
}

button {
    margin-left: 5px;
}

.btns-container {
    margin-bottom: 10px;
}

.main-list-container {
    grid-area: 2 / 2 / 9 / 3;
}

.main-list-container {
    display: flex;
    flex-direction: column;
}

.btns-container-top {
    display: flex;
    margin-bottom: 25px;
}
.btns-container-bottom {
    display: flex;
    /* margin-bottom: 25px; */
}

.email-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.email-list li:hover {
    box-shadow: 0px 10px 6px -4px rgba(17, 17, 17, 0.281);
}

.email-list li {
    border: rgba(109, 109, 109, 0.137) solid 1px;
}