@import "css/fonts.css";
@import "css/helpers.css";
* {
    box-sizing: border-box;
}

.email-details {
    display: flex;
    flex-direction: column;
    background-color: #32363f;
    border-radius: 10px;
    padding: 10px;
}

.from-address-date {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 5px -5px rgb(41, 41, 41);
}

.dtls-from {
    margin-inline-end: 10px;
}

.dtls-subject {}

.dtls-to {}

.dtls-date {}

.dtls-content {}

.dtls-bts {
    display: flex;
}

.dtls-bts button {
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px 10px;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.73);
    border: 1px solid black;
    margin-left: 8px;
}