@import "css/fonts.css";
@import "css/helpers.css";
.compose {
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 250, 245);
    margin: 0 auto;
    /* text-shadow: 2px 2.5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.compose-container {
    /* background-color: rgb(56, 53, 63); */
    background-color: rgb(64 61 71);
    padding: 0 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
}

.compose-btn button {
    background-color: none;
    border: none;
    font-size: 1.2rem;
}

.compose-btn {
    margin-inline-start: 10px;
}

.compose input {
    width: 300px;
    border: none;
    font-size: 1.2rem;
    height: 35px;
    border: none;
    border-radius: 7px;
}

.compose-btns i {
    /* margin: 0 10px; */
    /* font-size: 1.3rem; */
    font-size: xx-large;
}

.compose-btns i:hover {
    cursor: pointer;
    color: rgba(240, 240, 240, 0.459);
    /* color: rgb(255, 94, 107); */
}