/* .list-container {
    flex-direction: column;
} */

.note-btns {
    margin-top: 15px;
}

.note-btns i {
    margin-inline-end: 10px;
    z-index: 1;
}

.note-btns i:hover {
    cursor: pointer;
    /* color: rgba(240, 240, 240, 0.767); */
    /* color: rgb(255, 94, 107); */
}

.note-preview {
    width: 100%;
    height: fit-content;
    border-radius: 7px;
    /* box-shadow: 0 0 7px rgba(15, 15, 15, 0.322); */
    box-shadow: 0 3px 7px rgb(0 0 0);
}

.note-preview li {
    list-style-position: inside;
}


/* .note-preview ul {
    margin: 0 0 15px;
} */

.note-preview p {
    word-wrap: break-word;
    margin: 0;
}

.note {
    width: 100%;
    display: flex;
    padding: 15px 15px 10px 15px;
    justify-content: space-between;
    flex-direction: column;
    text-shadow: none;
    color: #22252c;
    font-weight: 380;
    font-size: 1rem;
    /* overflow-wrap: break-word; */
    /* width: 100%; */
}

.note-img {
    width: 100%;
    /* margin: 0 0 15px; */
    margin-top: 10px;
}

.edit-color-input {
    height: 30px;
    width: 30px;
    /* box-sizing: content-box; */
    /* position: absolute; */
    font-size: 1.05rem;
    margin: 0;
    margin-top: 10px;
}

.note:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

.note i:hover {
    color: rgba(0, 0, 0, 0.685);
}


/* .edit-color {
    display: flex;
    flex-direction: column;
    padding: 4px;
} */

.edit-section input {
    width: 100%;
}

.note-title {
    font-size: 1.15rem;
    font-weight: 550;
}

.done {
    text-decoration: line-through;
}

.undone {
    text-decoration: none;
}