@import "/css/fonts.css";
@import "/css/helpers.css";
.compose {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose-btns {
    margin: 10px 0;
    font-size: 1.17rem;
}

.compose-btn button {
    background-color: none;
    border: none;
    font-size: 1.2rem;
}