@import "/css/fonts.css";
@import "/css/helpers.css";
.compose {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose-btns {
    margin: 10px;
    font-size: 1.17rem;
}

.compose-btn button {
    background-color: none;
    border: none;
    font-size: 1.2rem;
}

.new-note-show {
    width: 200px;
    max-width: 240px;
    min-height: 200px;
    height: fit-content;
    background-color: #eeff00ea;
    color: rgb(255, 250, 245);
    text-shadow: 2px 2.5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.new-note-show input {
    border: none;
    margin: 0;
}

.free-text {
    border: none;
}